#implication-chain-cards:hover #edit-button-group {
  display: inline-flex;
}

#edit-button-group {
  display: none;
}

#edit-title-area:hover #edit-title-btn {
  display: flex;
}

#title-heading:hover #edit-title-btn {
  display: inherit;
}

#edit-title-btn {
  display: none;
}

.edit-button {
  display: none;
}

#implication-chain-cards:hover .edit-button {
  display: inline-flex;
}

.prop-card:hover .prop-btn {
  display: inline-flex;
}

.prop-card:hover .prop-edit-btn {
  display: inline-flex;
}

.prop-card:hover .prop-edit-btn {
  display: inline-flex;
}

.prop-btn {
  display: none;
}

#title-area:hover #edit-title-btn {
  display: inline-flex;
}

@media (min-width:992px) {
  #implication-chain-cardlist > .col {
    margin-top: -33px;
  }
}

@media (max-width: 991px) {
  #done-editing-button {
    margin-left: 7px;
    margin-top: 7px;
    background: var(--bs-white);
  }
}

@media (min-width: 992px) {
  #done-editing-button {
    margin-top: 1px;
    margin-left: 8px;
  }
}

@media (min-width: 992px) {
  #done-editing-button {
    margin-top: 1px;
    margin-left: 8px;
  }
}

