.row p, .row ul li {
  font-family: 'Ubuntu', sans-serif;
  color: #767676;
}

.h4, h4 {
  color: #e56538;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  /*margin-top: 0;*/
  /*margin-bottom: 1.375rem;*/
  font-weight: 600;
  line-height: 1.25;
}

.h4, h4 {
  font-size: 1.25rem;
}

ol, ul {
  padding-left: 2rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  border-radius: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
  .nav-link {
    transition: none;
  }
}

.nav-link:focus, .nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}

.ms-auto {
  margin-left: auto!important;
}

.nav-link {
  color: #4b4b4b;
}

.nav-link:focus, .nav-link:hover {
  color: #db3954;
}

