{% load static %}

<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals"
    src='{% static "quiver/src/index.html" %}' 
    style="position:absolute;z-index:-1;height:96vh;width:100%;border:none;overflow:hidden;"
    id="quiver-frame">
</iframe>
    
<script type="text/javascript">
    var sketch_id = "{{ sketch.uid }}";
    var quiver_ui = null;
    var quiver_frame = null; 
    var quiver_save_btn = null;
    var quiver_undo_btn = null;
    var quiver_redo_btn = null;
    var quiver_delete_btn = null;
    var quiver_select_all_btn = null;
    var quiver_select_none_btn = null;
    var quiver_zoom_in_btn = null;
    var quiver_zoom_out_btn = null;
    var quiver_reset_zoom_btn = null;
    var quiver_center_view_btn = null;
    var quiver_flip_arrows_btn = null;
    var quiver_left_align_labels_btn = null;
    var quiver_right_align_labels_btn = null;
    var quiver_clear_align_labels_btn = null;
    var quiver_over_align_labels_btn = null;
    
    document.addEventListener("DOMContentLoaded", function(event) { 
        quiver_frame = document.getElementById("quiver-frame");
        
        quiver_frame.addEventListener("load", function(event) {
            quiver_ui = quiver_frame.contentWindow['quiver_ui'];
        });
        
        quiver_frame.contentWindow.location.href += "#q={{ quiver_base64 }}";
        
        quiver_frame.addEventListener("load", function() {      
            var buttons = quiver_frame.contentWindow.document.getElementsByTagName("button");             
            
            for (var i = 0; i < buttons.length; i++)
            {   
                var button = buttons[i];
                
                if (button.hasAttribute('data-name'))
                {
                    var data_name = button.getAttribute('data-name');
                    
                    switch (data_name)
                    {
                        case 'Save':
                            quiver_save_btn = button;
                            break;
                        case 'Undo':
                            quiver_undo_btn = button;
                            break;
                        case 'Redo':
                            quiver_redo_btn = button;
                            break;
                        case 'Delete':
                            quiver_delete_btn = button;
                            break;
                        case 'Select all':
                            quiver_select_all_btn = button;
                            break;                            
                        case 'Deselect all':
                            quiver_select_none_btn = button;
                            break;
                        case 'Zoom in':
                            quiver_zoom_in_btn = button;
                            break;
                        case 'Zoom out':
                            quiver_zoom_out_btn = button;
                            break;
                        case 'Reset zoom':
                            quiver_reset_zoom_btn = button;
                            break;
                        case 'Centre view':
                            quiver_center_view_btn = button;
                            break;
                        default:
                            break;
                    }
                }
                else if (button.hasAttribute('title')) 
                {
                    var btn_title = button.getAttribute('title');
                    
                    switch (btn_title)
                    {
                        case 'Flip arrows':
                            quiver_flip_arrows_btn = button;
                            break;
                        default:
                            break;
                    }
                }
            }
            
            var inputs = quiver_frame.contentWindow.document.getElementsByTagName("input");
            
            for (var i = 0; i < buttons.length; i++)
            {
                var input = inputs[i];
                
                if (input.hasAttribute('title'))
                {
                    var title = input.getAttribute('title');
                    
                    switch (title)
                    {
                        case 'Left align label':
                            quiver_left_align_labels_btn = input;
                            break;
                        case 'Right align label':
                            quiver_right_align_labels_btn = input;
                            break;
                        case 'Centre align label (clear)':
                            quiver_clear_align_labels_btn = input;
                            break;
                        case 'Centre align label (over)':
                            quiver_over_align_labels_btn = input;
                            break;
                        default:
                            break;
                    }
                }
            }
        });       
       
    });

    function prepare_arrow_style_defaults()
    {
        if (quiver_left_align_labels_btn.checked)
        {
            $("#left-align-label-radio").prop('checked', true);
        }
        else if (quiver_clear_align_labels_btn.checked)
        {
            $("#clear-align-label-radio").prop('checked', true);
        }
        else if (quiver_over_align_labels_btn.checked)
        {
            $("#over-align-label-radio").prop('checked', true);
        }
        else if (quiver_right_align_labels_btn.checked)
        {
            $("#right-align-label-radio").prop('checked', true);
        }
    }
    
    function left_align_labels() {
        quiver_left_align_labels_btn.click();
    }
    
    function right_align_labels() {
        quiver_right_align_labels_btn.click();
    }
    
    function over_align_labels() {
        quiver_over_align_labels_btn.click();
    }
    
    function clear_align_labels() {
        quiver_clear_align_labels_btn.click();
    }
    
    function flip_arrows() {
        quiver_flip_arrows_btn.click();
    }
    
    function zoom_in() {
        quiver_zoom_in_btn.click();
    }
    
    function zoom_out() {
        quiver_zoom_out_btn.click();
    }
    
    function reset_zoom()
    {
        quiver_reset_zoom_btn.click();
    }
    
    function center_view()
    {
        quiver_center_view_btn.click();
    }
    
    function select_none()
    {
        quiver_select_none_btn.click();
    }
    
    function select_all()
    {
        quiver_select_all_btn.click();
    }
    
    function undo() {
        quiver_undo_btn.click();
    }
    
    function redo() {
        quiver_redo_btn.click();
    }
    
    function delete_selected()
    {
        quiver_delete_btn.click();
    }
        
    function save_sketch() 
    {
        if (! quiver_ui.quiver.is_empty())
        {
            var start_url = quiver_frame.contentWindow.location.href;
            
            if (start_url.indexOf("#q="))
            {
                start_url = start_url.split("#q=")[0];
            }
                    
            quiver_save_btn.click();
                   
            do { } while (start_url == quiver_frame.contentWindow.location.href);
        }
        
        json_data = null;
        var save_data = quiver_frame.contentWindow.location.href;
        
        if (save_data.indexOf("#q=") != -1)
        {
            base_url = save_data.split("#q=");
            json_data = base_url[1];
            base_url = base_url[0];
            
            json_data = {
                'sketch_id' : sketch_id,
                'json_data' : json_data,
            }            
        }
        else {
            json_data = {
                'sketch_id': sketch_id,
                'json_data' : '',
            }
        }    
        
        $.ajax({
            type: "POST",
            url: "{% url 'save_sketch' %}",
            
            data: {
                 csrfmiddlewaretoken: "{{ csrf_token }}",
                 json: JSON.stringify(json_data)
            },
            
            success: function (response) {
                // save_prop service's response:
                console.log(response);
                display_django_messages();
            },
            
            error: function (response) {
                console.log(response);
                display_django_messages();
            }
        });
    }
</script>



